<main>
  <div class="container">
    <div class="row">
      <div *ngFor="let product of products" class="col">
        <div class="card m-2" style="width: 18rem">
          <img [src]="product.image" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5>
              <a class="card-title" routerLink="/product/{{ product.id }}">{{
                product.title
              }}</a>
            </h5>
            <h6 class="card-title">${{ product.price }}</h6>
            <p class="card-text">
              {{ product.description }}
            </p>
            <a routerLink="/product/{{ product.id }}" class="btn btn-primary"
              >Detail</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
